.style-0 {
    width: 772pt
}

.style-1 {
    font-size: 1pt; 
    border: none
}

.style-10 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-11 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-12 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-13 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-14 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-15 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-16 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-17 {
    font-size: 1pt; 
    border-top: 1pt solid black; 
    border-left: none; 
    border-bottom: none; 
    border-right: none
}

.style-2 {
    font-size: 1pt; 
    border-top: 1pt solid #123d82; 
    border-left: none; 
    border-bottom: none; 
    border-right: none
}

.style-3 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: sans-serif; 
    font-size: 12pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-4 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: sans-serif; 
    font-size: 12pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-5 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: "Arial"; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-6 {
    width: 202pt; 
    height: 34pt
}

.style-7 {
    font-size: 1pt; 
    background-color: white; 
    border: none
}

.style-8 {
    width: 350pt; 
    height: 257pt
}

.style-9 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

