.style-0 {
    width: 468pt
}

.style-1 {
    font-size: 1pt; 
    border: none
}

.style-2 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-3 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 14pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

.style-4 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    border: none
}

.style-5 {
    border-top: none; 
    border-left: none; 
    border-bottom: none; 
    border-right: none; 
    color: black; 
    font-family: serif; 
    font-size: 10pt; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre
}

